<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Angular Test 6</h2>
      <hr>
      <!-- reactive form -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- userData -->
        <div formGroupName="userData">
          <!-- First Name Input -->
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">


            <!-- validation texts -->
            <span class="help-block"
              *ngIf="signupForm.get('userData.firstName')?.invalid && signupForm.get('userData.firstName')?.touched">
              <span *ngIf="signupForm.get('userData.firstName')?.hasError('maxlength')">
                Name must be less than 50 characters.
              </span>
              <span *ngIf="signupForm.get('userData.firstName')?.hasError('minlength')">
                Name must be at least 2 characters.
              </span>
              <span *ngIf="signupForm.get('userData.firstName')?.hasError('required')">
                First name is required.
              </span>
            </span>

          </div>

          <!-- Last Name Input -->
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">

            <!-- validation texts -->
            <span class="help-block"
              *ngIf="signupForm.get('userData.lastName')?.invalid && signupForm.get('userData.lastName')?.touched">
              <span *ngIf="signupForm.get('userData.lastName')?.hasError('maxlength')">
                Name must be less than 50 characters.
              </span>
              <span *ngIf="signupForm.get('userData.lastName')?.hasError('minlength')">
                Name must be at least 2 characters.
              </span>
              <span *ngIf="signupForm.get('userData.lastName')?.hasError('required')">
                Last name is required.
              </span>
            </span>
          </div>
        </div>

        <!-- Email Input -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="name@example.com">

          <!-- Validation texts -->
          <span class="help-block" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            Please enter a valid email address !
          </span>
        </div>

        <!-- Gender Radio Buttons -->
        <div class="form-group">
          <label>Gender:</label>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender" [value]="gender" formControlName="gender">
              {{ gender }}
            </label>
          </div>
        </div>

        <!-- Married Checkbox -->
        <div class="form-group">
          <label for="married">
            Married :
            <input type="checkbox" id="married" formControlName="married" class="form-check-input">
          </label>
        </div>

        <!-- Country Select -->
        <div class="form-group">
          <label for="country">Country:</label>
          <select class="form-control" id="country" formControlName="country">
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
        </div>

        <!-- Submit and Reset Buttons -->
        <div class="form-group form-btns">
          <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Submit</button>
          <button class="btn btn-primary" type="button" (click)="onReset()"
            [disabled]="!signupForm.valid">Reset</button>
        </div>

      </form>
    </div>
  </div>
</div>